.main_image {
    height: 592px;
    margin: 8px 16px 0;
    border-radius: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    &::after {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 30px;
        background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 47%, rgba(255, 255, 255, 0.7));
    }
    .text {
        z-index: 4;
        padding-top: 80px;
        h5 {
            margin-bottom: 16px;
            font-size: 24px;
        }
        h1 {
            margin-bottom: 24px;
            font-size: 60px;
            font-family: $title-font;
        }
        p {
            max-width: 550px;
            font-size: 18px;
        }
        .bottom_divs {
            margin-bottom: 40px;
            p {
                margin-bottom: 14px;
                color: $color-white;
            }
            .tour_items {
                margin-bottom: 40px;
                margin: 0 -8px;
                .tour_item {
                    height: 42px;
                    margin: 10px 8px 0;
                    padding: 0 32px;
                    color: inherit;
                    text-decoration: none;
                    border-radius: 4px;
                    font-size: 14px;
                    font-family: $medium-font;
                    background-image: linear-gradient(to bottom, #fff, #ddd);
                    img {
                        margin-right: 12px;
                    }
                }
            }
        }
    }
}
.main_content {
    .popular_destinations {
        margin-top: 64px;
        margin-bottom: 38px;
        .destinations_row {
            margin: 0 -8px;
            .col-md-3 {
                padding: 0 8px;
            }
            .popular_item {
                a {
                    color: inherit;
                    text-decoration: none;
                }
                figure {
                    margin-bottom: 16px;
                    img {
                        max-width: 100%;
                        height: 367px;
                        object-fit: cover;
                        border-radius: 16px;
                    }
                }
                h4 {
                    font-size: 18px;
                    font-family: $title-font-bold;
                }
                p {
                    margin-bottom: 24px;
                    padding-right: 40px;
                    font-size: 14px;
                    color: $color-black-1;
                    opacity: 0.5;
                }
            }
        }
    }
    .afordable_prices {
        margin-bottom: 64px;
        .swiper-container {
            .swiper-wrapper {
                .swiper-slide {
                    a {
                        position: relative;
                        display: block;
                        z-index: 1;
                        &::after {
                            content: " ";
                            position: absolute;
                            z-index: 1;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            background-image: linear-gradient(to bottom, rgba(34, 34, 34, 0) 60%, rgba(34, 34, 34, 0.8));
                            border-radius: 16px;
                        }
                    }
                    height: 380px;
                    border-radius: 16px;
                    figure {
                        img {
                            max-width: 100%;
                            object-fit: cover;
                            border-radius: 16px;
                        }
                    }
                    .text {
                        z-index: 4;
                        bottom: 24px;
                        left: 16px;
                        color: $color-white;
                        .price {
                            display: inline-block;
                            height: 31px;
                            margin-bottom: 8px;
                            padding: 0 12px;
                            color: $color-black;
                            background-color: rgba($color: #ffffff, $alpha: 0.5);
                            -webkit-backdrop-filter: blur(30px);
                            backdrop-filter: blur(30px);
                            border-radius: 4px;
                            font-family: $title-font-bold;
                            sub {
                                font-size: 12px;
                            }
                        }
                        span {
                            display: block;
                            min-height: 45px;
                            font-size: 18px;
                            font-family: $title-font-bold;
                        }
                    }
                }
            }
        }
    }
    .other {
        margin-bottom: 64px;
        .swiper-container {
            .swiper-wrapper {
                .swiper-slide {
                    border-radius: 30px;
                    a {
                        color: inherit;
                        text-decoration: none;
                    }
                    figure {
                        height: 367px;
                        margin-bottom: 16px;
                        img {
                            max-width: 100%;
                            object-fit: cover;
                            border-radius: 30px;
                        }
                    }
                    .text {
                        span {
                            font-size: 18px;
                            font-family: $title-font-bold;
                        }
                    }
                }
            }
        }
    }
    .testimonials {
        background-color: $color-white-1;
        padding: 40px 0 40px;
        .swiper-container {
            .swiper-wrapper {
                .swiper-slide {
                    padding: 16px;
                    background-color: $color-white;
                    border-radius: 16px;
                    .testimonial {
                        margin-bottom: 35px;
                        svg {
                            width: 18px;
                            height: 18px;
                            margin-right: 12px;
                        }
                    }
                    figure {
                        width: 40px;
                        height: 40px;
                        margin-bottom: 16px;
                        border-radius: 8px;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 8px;
                        }
                    }
                    h4 {
                        margin-bottom: 8px;
                        font-size: 16px;
                        font-family: $title-font-bold;
                    }
                    p {
                        font-size: 14px;
                    }
                }
            }
            .pagination {
                position: static;
                margin-top: 20px;
                .swiper-pagination-bullet {
                    margin: 0 2.7px;
                }
                .swiper-pagination-bullet-active {
                    background-color: $color-black-4;
                }
            }
        }
    }
    .popular_price {
        margin: 72px 0 72px;
        img {
            height: 757px;
            object-fit: cover;
            border-radius: 16px;
        }
        .text {
            -webkit-transform: translateX(-25px);
            -ms-transform: translateX(-25px);
            transform: translateX(-25px);
            background-color: $color-black;
            border-radius: 16px;
            color: $color-white;
            h1 {
                margin-bottom: 20px;
                font-size: 60px;
                font-family: $title-font;
            }
            p {
                max-width: 445px;
                margin-bottom: 40px;
                font-size: 24px;
            }
            button {
                height: 45px;
                padding: 0 18px;
                font-size: 18px;
                border-radius: 4px;
                box-shadow: none;
                background-color: $color-white;
            }
        }
    }
    .blog {
        padding: 40px 0;
        background-color: $color-white-1;
        .swiper-container {
            .swiper-wrapper {
                .swiper-slide {
                    border-radius: 16px;
                    border: solid 1px $color-white-4;
                    a {
                        color: inherit;
                        text-decoration: none;
                    }
                    figure {
                        margin-bottom: 0;
                        img {
                            width: 100%;
                            height: 320px;
                            object-fit: cover;
                            border-top-left-radius: 16px;
                            border-top-right-radius: 16px;
                        }
                    }
                    .text {
                        padding: 16px;
                        p {
                            margin-bottom: 0;
                            font-size: 20px;
                        }
                    }
                }
            }
            .view_link {
                height: 45px;
                margin-top: 40px;
                padding: 0 18px;
                color: inherit;
                text-decoration: none;
                border-radius: 4px;
                border: 1px solid $color-black-4;
                font-size: 18px;
            }
        }
    }
    .stay_involved {
       margin: 72px 0 80px;
       h1 {
           margin-bottom: 40px;
           font-size: 60px;
           span {
               font-family: $title-font;
           }
       }
       .socials {
           margin: 0 -4px 48px;
        .social_items {
            height: 42px;
            margin: 0 4px;
            padding: 0 16px;
            color: inherit;
            text-decoration: none;
            border-radius: 4px;
            border: 1px solid $color-white-4;
        }
       }
       .involved_images {
           margin: 0 -8px;
           .involved_item {
            -ms-flex: 0 0 20%;
            flex: 0 0 20%;
            max-width: 20%;
            height: 290px;
            padding: 0 8px;
                figure {
                    height: 100%;
                    margin-bottom: 0;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 16px;
                    }
                }
            }
        } 
    }
}


@for $i from 1 through 6 {
    @keyframes forward-#{$i} {
        from {
            opacity: 0;
            -webkit-transform: translateY(-60px);
            -moz-transform: translateY(-60px);
            transform: translateY(-60px);
        }
        to {
            -webkit-transform: translateY(($i * -60px) + 0px);
            -moz-transform: translateY(($i * -60px) + 0px);
            transform: translateY(($i * -60px) + 0px);
            opacity: 1;
        }
    }
}
@for $i from 1 through 6 {
    @keyframes backward-#{$i} {
        from {
            -webkit-transform: translateY(($i * -60px) + 0px);
            -moz-transform: translateY(($i * -60px) + 0px);
            transform: translateY(($i * -60px) + 0px);
            opacity: 1;
        }
        to {
            opacity: 0;
            -webkit-transform: translateY(-60px);
            -moz-transform: translateY(-60px);
            transform: translateY(-60px);
        }
    }
}