$color-black: #222222;
$color-white: #ffffff;
$color-black-1: #000000;
$color-black-5: #1b1c25;
$color-black-4: #757575;
$color-black-7: #494951;
$color-white-1: #f7f6f7;
$color-white-4: #dddddd;
$color-white-5: #e0e4eb;
$color-green: #11995e;
$color-green-1: #5ec41f;
$color-green-4: rgba(17, 153, 94,0.08);
$color-red: #fd0e18;
$color-red-1: #d90a25;
$color-blue:#2d88ff;




// fonts
$normal-font: 'Helvetica-55';
$medium-font: 'helvetica-65';
$title-font: 'Helvetica-75';
$title-font-bold: 'Helvetica-75-bold';