.main_content {
    .product {
      margin: 31px 0 120px;
      .product_title {
          h4 {
              margin-top: 4px;
              font-size: 32px;
              font-family: $title-font;
              font-weight: bold;
          }
          a {
              margin-right: 31px;
              &:last-child {
                  margin-right: 0;
              }
              img {
                width: 17px;
                height: 17px;
              }
          }
      }
      .main_cover {
          margin: 32px -8px 40px;
        .column_image {
            padding: 0 8px;
            &.main {
                img {
                    height: 556px;
                }
            }
            .small_image {
                height: 50%;
            }
            img {
                width: 100%;
                height: 100%;
                max-width: 100%;
                object-fit: cover;
                border-radius: 12px;
            }
        }
      }
      .product_content {
          .text {
              flex: 1;
              margin-right: 24px;
              h4 {
                  &.title {
                      font-size: 24px;
                      font-family: $title-font;
                      font-weight: bold;
                  }
              }
              .price {
                flex-shrink: 0;
                font-size: 12px;
                  span {
                      color: $color-black-4;
                      &.price {
                        margin: 0 8px;
                        font-size: 22px;
                        color: $color-black;
                        line-height: 22px;
                        font-family: $title-font;
                        font-weight: bold;
                      }
                  }
              }
              p {
                  &.description {
                      font-size: 16px;
                      line-height: 1.5;
                  }
              }
              .details {
                  margin-top: 55px;
                  h4 {
                      font-size: 24px;
                      font-family: $title-font;
                      font-weight: bold;
                  }
                  ul {
                      list-style: none;
                      li {
                          margin-top: 27px;
                          img {
                              margin-right: 16px;
                          }
                          span {
                              &.top_text {
                                  font-size: 16px;
                                  line-height: 20px;
                                  font-family: $title-font;
                                  font-weight: bold;
                                  span {
                                      font-weight: normal;
                                  }
                              }
                              &.bottom_text {
                                  margin-top: 5px;
                                  color: $color-black-4;
                                  font-size: 12px;
                                  a {
                                      color: $color-black;
                                      text-decoration: underline;
                                  }
                              }
                          }
                      }
                  }
              }
              .experience {
                  margin-top: 55px;
                  h4 {
                    margin-bottom: 10px;
                    font-size: 24px;
                    font-family: $title-font;
                    font-weight: bold;
                  }
                  .drop_divs {
                      font-size: 16px;
                    .drop_head {
                        height: 50px;
                        padding: 0 16px;
                        font-family: $title-font;
                        font-weight: bold;
                        border-top: 1px solid $color-white-4;
                        @include transition( all , 0.1s, ease-in-out);
                        svg {
                            width: 24px;
                            height: 24px;
                        }
                        &.active {
                        color: $color-red;
                        background-color: $color-white-1;
                        border-top: 1px solid transparent;
                            svg {
                                -webkit-transform: rotate(180deg);
                                -ms-transform: rotate(180deg);
                                transform: rotate(180deg);
                                path {
                                    &:last-child {
                                        fill: $color-red;
                                    }
                                }
                            }
                        }
                    }
                    .drop_body {
                        margin-top: 16px;
                        p {
                          margin-bottom: 35px;
                        }
                    }
                    &:first-of-type {
                        .drop_head {
                            border-top: none;
                        }
                    }
                  }
              }
          }
          .right_travel {
              width: 365px;
              .right_top , .right_bottom {
                    padding: 32px 16px 16px;
                    h4 {
                        margin-bottom: 8px;
                        font-size: 24px;
                        font-family: $title-font;
                        font-weight: bold;
                    }
                    &.right_top {
                        background-color: $color-white-1;
                        border: 1px solid transparent;
                        border-top-left-radius: 16px;
                        border-top-right-radius: 16px;
                        p {
                            margin-bottom: 34px;
                            font-size: 18px;
                        }
                        button {
                            font-size: 14px;
                            outline: none;
                            box-shadow: none;
                            &.modal_button {
                                height: 52px;
                                margin-bottom: 16px;
                                padding: 0 16px;
                                background-color: $color-white;
                                border: 1px solid $color-white-4;
                                border-radius: 12px;
                                .arrow {
                                    -webkit-transform: rotate(90deg);
                                    -ms-transform: rotate(90deg);
                                    transform: rotate(90deg);
                                    @include transition( all , 0.1s, ease-in-out);
                                }
                                &::after {
                                    display: none !important;
                                }
                                .dropdown-menu {
                                    width: calc(100% + 34px);
                                    left: -16px !important;
                                    margin-top: 8px;
                                    color: inherit;
                                    border: 1px solid $color-black;
                                    border-radius: 16px;
                                    .dropdown_head {
                                        height: 50px;
                                        padding: 0 24px;
                                        font-size: 14px;
                                        background-color: $color-white-1;
                                        border-bottom: 1px solid $color-white-4;
                                        border-top-left-radius: 16px;
                                        border-top-right-radius: 16px;
                                        img {
                                            width: 20px;
                                            height: 20px;
                                        }
                                    }
                                    .dropdown_body {
                                        padding: 16px 24px 24px;
                                        .title {
                                            margin-bottom: 15px;
                                            font-size: 14px;
                                        }
                                        .flatpickr-calendar {
                                            box-shadow: none;
                                            .flatpickr-month {
                                                margin-bottom: 24px;
                                                .flatpickr-monthDropdown-months {
                                                    background-color: transparent;
                                                }
                                            }
                                            .flatpickr-day {
                                                font-size: 12px;
                                                &.selected {
                                                    background-color: $color-green;
                                                }
                                            }
                                            .numInputWrapper {
                                                display: none;
                                            }
                                        }
                                        &.guest {
                                            .title {
                                                margin-bottom: 16px;
                                                span {
                                                    padding-right: 25px;
                                                    color: $color-black-4;
                                                    font-size: 14px;
                                                }
                                                .price {
                                                    flex-shrink: 0;
                                                    font-size: 16px;
                                                    font-family: $title-font;
                                                    font-weight: bold;
                                                }
                                            }
                                            .guest_count {
                                                margin-bottom: 16px;
                                                padding-bottom: 16px;
                                                border-bottom: 1px solid $color-white-4;
                                                .count_title {
                                                    font-size: 14px;
                                                    line-height: 14px;
                                                    font-family: $title-font;
                                                    font-weight: bold;
                                                }
                                                .count_text {
                                                    color: $color-black-4;
                                                    font-size: 12px;
                                                }
                                                .counter {
                                                    font-size: 16px;
                                                    font-weight: bold;
                                                    .btn {
                                                        width: 32px;
                                                        height: 32px;
                                                        border: 1px solid $color-black-4;
                                                        border-radius: 50%;
                                                        img {
                                                            width: 10px;
                                                            height: 10px;
                                                        }
                                                    }
                                                    .count_number {
                                                        margin: 0 20px;
                                                    }
                                                    &.free {
                                                        padding-right: 40px;
                                                        color: $color-green-1;
                                                        font-size: 12px;
                                                        font-family: $title-font;
                                                        font-weight: bold;
                                                    }
                                                }
                                                &:last-child {
                                                    margin-bottom: 0;
                                                    padding-bottom: 0;
                                                    border-bottom: none;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            &.availability {
                                height: 40px;
                                font-family: $title-font;
                                font-weight: bold;
                                color: $color-white;
                                background-color: $color-red-1;
                                border-radius: 8px;
                            }
                        }
                    }
                    &.right_bottom {
                        border: 1px solid $color-white-4;
                        border-bottom-left-radius: 16px;
                        border-bottom-right-radius: 16px;
                        h4 {
                            margin-bottom: 24px;
                        }
                        .bottom_items {
                            .bottom_item {
                                height: 40px;
                                margin-bottom: 8px;
                                padding: 0 16px 0 10px;
                                border: 1px solid $color-white-4;
                                border-radius: 8px;
                                font-size: 16px;
                                img {
                                    width: 20px;
                                    height: 20px;
                                    margin-right: 10px;
                                }
                            }
                        }
                        .bottom_booked {
                            height: 34px;
                            padding: 0 16px;
                            background-color: $color-white-1;
                            border-radius: 8px;
                            font-size: 12px;
                            img {
                                width: 16px;
                                height: 16px;
                                margin-right: 8px;
                            }
                            span {
                                margin: 0 5px;
                                color: $color-red;
                                font-size: 14px;
                                line-height: 14px;
                                font-family: $title-font;
                            }
                        }
                    }
                    div {
                        &.show {
                            .arrow {
                                -webkit-transform: rotate(270deg) !important;
                                -ms-transform: rotate(270deg) !important;
                                transform: rotate(270deg) !important;
                            }
                        }
                    }
                }
            }
        }
      .similar_place {
          margin-top: 55px;
          h4 {
            margin-bottom: 32px;
            font-size: 24px;
            font-family: $title-font;
            font-weight: bold;
          }
          .swiper-container {
            .swiper-wrapper {
                .swiper-slide {
                    a {
                        position: relative;
                        display: block;
                        z-index: 1;
                        &::after {
                            content: " ";
                            position: absolute;
                            z-index: 1;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            background-image: linear-gradient(to bottom, rgba(34, 34, 34, 0) 60%, rgba(34, 34, 34, 0.8));
                            border-radius: 16px;
                        }
                    }
                    height: 380px;
                    border-radius: 16px;
                    figure {
                        img {
                            max-width: 100%;
                            object-fit: cover;
                            border-radius: 16px;
                        }
                    }
                    .text {
                        z-index: 4;
                        bottom: 24px;
                        left: 16px;
                        color: $color-white;
                        .price {
                            display: inline-block;
                            height: 31px;
                            margin-bottom: 8px;
                            padding: 0 12px;
                            color: $color-black;
                            background-color: rgba($color: #ffffff, $alpha: 0.8);
                            -webkit-backdrop-filter: blur(30px);
                            backdrop-filter: blur(30px);
                            border-radius: 4px;
                            font-weight: bold;
                            font-family: $title-font-bold;
                            sub {
                                font-size: 12px;
                            }
                        }
                        span {
                            display: block;
                            min-height: 45px;
                            font-size: 18px;
                            font-weight: bold;
                            font-family: $title-font-bold;
                        }
                    }
                }
            }
        }
            @media only screen and (max-width : 767px) {
                margin-bottom: 56px;
                .swiper-container {
                    width: calc(100% + 16px);
                }
            }
        }
    }
}
// availability modal
#availability {
    .modal-dialog {
        align-items: flex-start;
        max-width: 780px;
        margin: 70px auto 0;
        .modal-content {
            .modal-body {

            }
        }
    }   
}