.main_content {
    .product {
      margin: 31px 0 120px;
      @media only screen and (max-width : 767px) {
            margin: 8px 0 24px;
        }
      .product_title {
          h4 {
              margin-top: 4px;
              font-size: 32px;
              font-family: $title-font;
              font-weight: bold;
          }
          a {
              margin-right: 31px;
              &:last-child {
                  margin-right: 0;
              }
              img {
                width: 17px;
                height: 17px;
              }
          }
          @media only screen and (max-width : 767px) {
              margin-top: 16px;
              h4 {
                margin-top: 0;
                padding-right: 14px;
                font-size: 18px;
              }
              a {
                margin-top: -4px;
                margin-right: 16px;
                  img {
                      width: 24px;
                      height: 24px;
                  }
              }
        }
      }
      .product_slider {
          margin-top: 16px;
          .prod_swipe {
              .swiper-slide {
                  figure {
                      margin-bottom: 0;
                      img {
                        width: 100%;
                        height: 344px;
                        object-fit: cover;
                        border-radius: 16px;
                      }
                  }
              }
              .pagination {
                position: static;
                margin-top: 16px;
                .swiper-pagination-bullet {
                    margin: 0 2.7px;
                }
                .swiper-pagination-bullet-active {
                    background-color: $color-black-4;
                }
            }
          }
      }
      .main_cover {
          margin: 32px -8px 40px;
        .column_image {
            padding: 0 8px;
            &.main {
                img {
                    height: 556px;
                }
                iframe {
                    border-radius: 12px;
                }
            }
            .small_image {
                height: 50%;
            }
            img {
                width: 100%;
                height: 100%;
                max-width: 100%;
                object-fit: cover;
                border-radius: 12px;
            }
        }
      }
      .top_text {
          p {
              &.description {
                  font-size: 14px;
              }
          }
      }
      .bottom_availability {
          position: fixed;
          bottom: 0;
          left: 0;
          z-index: 1000;
          background-color: $color-black;
          .availability_wrap {
            padding: 8px 16px 16px;
            background-color: $color-white;
            border-top: 1px solid $color-white-4;
            border-bottom-left-radius: 40px;
            border-bottom-right-radius: 40px;
          }
          .price {
            flex-shrink: 0;
            font-size: 12px;
              span {
                  color: $color-black-4;
                  &.price {
                    margin: 4px 0;
                    font-size: 22px;
                    color: $color-black;
                    line-height: 22px;
                    font-family: $title-font;
                    font-weight: bold;
                  }
              }
          }
          button {
              &.btn {
                height: 48px;
                padding: 0 16px;
                color: $color-white;
                background-color: $color-red-1;
                font-size: 14px;
                font-family: $title-font;
                font-weight: bold;
                box-shadow: none;
                outline: none;
              }
          }
          &.menu_open {
              display: none !important;
          }
      }
      .product_content {
          .text {
              flex: 1;
              margin-right: 24px;
              h4 {
                  &.title {
                      font-size: 24px;
                      font-family: $title-font;
                      font-weight: bold;
                  }
              }
              .price {
                flex-shrink: 0;
                font-size: 12px;
                  span {
                      color: $color-black-4;
                      &.price {
                        margin: 0 8px;
                        font-size: 22px;
                        color: $color-black;
                        line-height: 22px;
                        font-family: $title-font;
                        font-weight: bold;
                      }
                  }
              }
              p {
                  &.description {
                      font-size: 16px;
                      line-height: 1.5;
                  }
              }
              .details {
                  margin-top: 55px;
                  h4 {
                      font-size: 24px;
                      font-family: $title-font;
                      font-weight: bold;
                  }
                  ul {
                      list-style: none;
                      li {
                          margin-top: 27px;
                          img {
                              margin-right: 16px;
                          }
                          span {
                              &.top_text {
                                  font-size: 16px;
                                  line-height: 20px;
                                  font-family: $title-font;
                                  font-weight: bold;
                                  span {
                                      font-family: $normal-font;
                                      font-weight: normal;
                                  }
                              }
                              &.bottom_text {
                                  margin-top: 5px;
                                  color: $color-black-4;
                                  font-size: 12px;
                                  a {
                                      flex-shrink: 0;
                                      color: $color-black;
                                      text-decoration: underline;
                                  }
                              }
                          }
                      }
                  }
              }
              .experience {
                  margin-top: 55px;
                  h4 {
                    margin-bottom: 10px;
                    font-size: 24px;
                    font-family: $title-font;
                    font-weight: bold;
                  }
                  .drop_divs {
                      font-size: 16px;
                    .drop_head {
                        height: 50px;
                        padding: 0 16px;
                        font-family: $title-font;
                        font-weight: bold;
                        border-top: 1px solid $color-white-4;
                        @include transition( all , 0.1s, ease-in-out);
                        svg {
                            width: 24px;
                            height: 24px;
                        }
                        &.active {
                        color: $color-red;
                        background-color: $color-white-1;
                        border-top: 1px solid transparent;
                            svg {
                                -webkit-transform: rotate(180deg);
                                -ms-transform: rotate(180deg);
                                transform: rotate(180deg);
                                path {
                                    &:last-child {
                                        fill: $color-red;
                                    }
                                }
                            }
                        }
                    }
                    .drop_body {
                        margin-top: 16px;
                        p {
                          margin-bottom: 35px;
                        }
                    }
                    &:first-of-type {
                        .drop_head {
                            border-top: none;
                        }
                    }
                  }
              }
          }
          .right_travel {
              width: 365px;
              .right_top , .right_bottom {
                    padding: 32px 16px 16px;
                    h4 {
                        margin-bottom: 8px;
                        font-size: 24px;
                        font-family: $title-font;
                        font-weight: bold;
                    }
                    &.right_top {
                        background-color: $color-white-1;
                        border: 1px solid transparent;
                        border-top-left-radius: 16px;
                        border-top-right-radius: 16px;
                        p {
                            margin-bottom: 34px;
                            font-size: 18px;
                        }
                        button {
                            font-size: 14px;
                            outline: none;
                            box-shadow: none;
                            &.modal_button {
                                height: 52px;
                                margin-bottom: 16px;
                                padding: 0 16px;
                                background-color: $color-white;
                                border: 1px solid $color-white-4;
                                border-radius: 12px;
                                .arrow {
                                    -webkit-transform: rotate(90deg);
                                    -ms-transform: rotate(90deg);
                                    transform: rotate(90deg);
                                    @include transition( all , 0.1s, ease-in-out);
                                }
                                &::after {
                                    display: none !important;
                                }
                                .dropdown-menu {
                                    width: calc(100% + 34px);
                                    left: -16px !important;
                                    margin-top: 8px;
                                    color: inherit;
                                    border: 1px solid $color-black;
                                    border-radius: 16px;
                                    .dropdown_head {
                                        height: 50px;
                                        padding: 0 24px;
                                        font-size: 14px;
                                        background-color: $color-white-1;
                                        border-bottom: 1px solid $color-white-4;
                                        border-top-left-radius: 16px;
                                        border-top-right-radius: 16px;
                                        img {
                                            width: 20px;
                                            height: 20px;
                                        }
                                    }
                                    .dropdown_body {
                                        padding: 16px 24px 24px;
                                        .title {
                                            margin-bottom: 15px;
                                            font-size: 14px;
                                        }
                                        .flatpickr-calendar {
                                            box-shadow: none;
                                            .flatpickr-month {
                                                margin-bottom: 24px;
                                                .flatpickr-current-month {
                                                    padding-top: 10px;
                                                }
                                                .flatpickr-monthDropdown-months {
                                                    background-color: transparent;
                                                    font-size: 14px;
                                                    font-family: $title-font;
                                                    font-weight: bold;
                                                }
                                            }
                                            .flatpickr-day {
                                                font-size: 12px;
                                                &.selected {
                                                    background-color: $color-green;
                                                }
                                            }
                                            .numInputWrapper {
                                                display: none;
                                            }
                                        }
                                        &.guest {
                                            .title {
                                                margin-bottom: 16px;
                                                span {
                                                    padding-right: 25px;
                                                    color: $color-black-4;
                                                    font-size: 14px;
                                                }
                                                .price {
                                                    flex-shrink: 0;
                                                    font-size: 16px;
                                                    font-family: $title-font;
                                                    font-weight: bold;
                                                }
                                            }
                                            .guest_count {
                                                margin-bottom: 16px;
                                                padding-bottom: 16px;
                                                border-bottom: 1px solid $color-white-4;
                                                .count_title {
                                                    font-size: 14px;
                                                    line-height: 14px;
                                                    font-family: $title-font;
                                                    font-weight: bold;
                                                }
                                                .count_text {
                                                    color: $color-black-4;
                                                    font-size: 12px;
                                                }
                                                .counter {
                                                    font-size: 16px;
                                                    font-weight: bold;
                                                    .btn {
                                                        width: 32px;
                                                        height: 32px;
                                                        border: 1px solid $color-black-4;
                                                        border-radius: 50%;
                                                        img {
                                                            width: 10px;
                                                            height: 10px;
                                                        }
                                                    }
                                                    .count_number {
                                                        margin: 0 20px;
                                                    }
                                                    &.free {
                                                        padding-right: 40px;
                                                        color: $color-green-1;
                                                        font-size: 12px;
                                                        font-family: $title-font;
                                                        font-weight: bold;
                                                    }
                                                }
                                                &:last-child {
                                                    margin-bottom: 0;
                                                    padding-bottom: 0;
                                                    border-bottom: none;
                                                }
                                            }
                                        }
                                    }
                                    @media only screen and (max-width : 1180px) {
                                        left: -11.8px!important;
                                    }
                                }
                            }
                            &.availability {
                                height: 40px;
                                font-family: $title-font;
                                font-weight: bold;
                                color: $color-white;
                                background-color: $color-red-1;
                                border-radius: 8px;
                            }
                        }
                    }
                    &.right_bottom {
                        padding-bottom: 32px;
                        border: 1px solid $color-white-4;
                        border-bottom-left-radius: 16px;
                        border-bottom-right-radius: 16px;
                        h4 {
                            margin-bottom: 24px;
                        }
                        .bottom_items {
                            .bottom_item {
                                height: 40px;
                                margin-bottom: 8px;
                                padding: 0 16px 0 10px;
                                border: 1px solid $color-white-4;
                                border-radius: 8px;
                                font-size: 16px;
                                img {
                                    width: 20px;
                                    height: 20px;
                                    margin-right: 10px;
                                }
                            }
                        }
                        .bottom_booked {
                            height: 34px;
                            padding: 0 16px;
                            background-color: $color-white-1;
                            border-radius: 8px;
                            font-size: 12px;
                            img {
                                width: 16px;
                                height: 16px;
                                margin-right: 8px;
                            }
                            span {
                                margin: 0 5px;
                                color: $color-red;
                                font-size: 14px;
                                line-height: 14px;
                                font-family: $title-font;
                            }
                        }
                    }
                    div {
                        &.show {
                            .arrow {
                                -webkit-transform: rotate(270deg) !important;
                                -ms-transform: rotate(270deg) !important;
                                transform: rotate(270deg) !important;
                            }
                        }
                    }
                }
            }
            @media only screen and (max-width : 767px) {
                margin-top: 16px;
                .text {
                    width: 100%;
                    margin-right: 0;
                    -webkit-box-ordinal-group:3;
                    -ms-flex-order:2;
                    order:2;
                    .details {
                        margin: 0 -16px;
                        padding: 32px 16px;
                        background: $color-white-1;
                    }
                    .experience {
                        margin-top: 32px;
                    }
                }
                .right_travel {
                    width: calc(100% + 32px);
                    margin: 0 -16px;
                    -webkit-box-ordinal-group:2;
                    -ms-flex-order:1;
                    order:1;
                    .right_top , .right_bottom {
                        &.right_top {
                            padding: 16px 16px 32px;
                            border-top-left-radius: 0;
                            border-top-right-radius: 0;
                            p {
                                margin-bottom: 32px;
                            }
                        }
                        &.right_bottom {
                            border-bottom-left-radius: 0;
                            border-bottom-right-radius: 0;
                        }
                    }
                }
            }
        }
      .similar_place {
          margin-top: 55px;
          h4 {
            margin-bottom: 32px;
            font-size: 24px;
            font-family: $title-font;
            font-weight: bold;
          }
          .swiper-container {
            .swiper-wrapper {
                .swiper-slide {
                    a {
                        position: relative;
                        display: block;
                        z-index: 1;
                        &::after {
                            content: " ";
                            position: absolute;
                            z-index: 1;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            background-image: linear-gradient(to bottom, rgba(34, 34, 34, 0) 60%, rgba(34, 34, 34, 0.8));
                            border-radius: 16px;
                        }
                    }
                    height: 380px;
                    border-radius: 16px;
                    figure {
                        img {
                            max-width: 100%;
                            object-fit: cover;
                            border-radius: 16px;
                        }
                    }
                    .text {
                        z-index: 4;
                        bottom: 24px;
                        left: 16px;
                        color: $color-white;
                        .price {
                            display: inline-block;
                            height: 31px;
                            margin-bottom: 8px;
                            padding: 0 12px;
                            color: $color-black;
                            background-color: rgba($color: #ffffff, $alpha: 0.8);
                            -webkit-backdrop-filter: blur(30px);
                            backdrop-filter: blur(30px);
                            border-radius: 4px;
                            font-weight: bold;
                            font-family: $title-font-bold;
                            sub {
                                font-size: 12px;
                            }
                        }
                        span {
                            display: block;
                            min-height: 45px;
                            font-size: 18px;
                            font-weight: bold;
                            font-family: $title-font-bold;
                        }
                    }
                }
            }
        }
            @media only screen and (max-width : 767px) {
                margin: 32px 0 56px;
                .swiper-container {
                    width: calc(100% + 16px);
                }
            }
        }
    }
}
// availability modal
#availability {
    .modal-dialog {
        align-items: flex-start;
        max-width: 780px;
        margin: 70px auto 0;
        .modal-content {
            .modal-body {
                padding: 0;
                .content_wrap {
                    padding: 25px 44px 0;
                    .row {
                        margin: 0 -12px;
                        .col-md-6 {
                            padding: 0 12px;
                        }
                    }
                    h4 {
                        margin-bottom: 32px;
                        font-size: 24px;
                        font-family: $title-font;
                        font-weight: bold;
                        img {
                            width: 24px;
                            height: 24px;
                        }
                    }
                    .border_bottom {
                        margin-bottom: 32px;
                        padding-bottom: 32px;
                        border-bottom: 1px solid $color-white-4;
                        &:last-child {
                            margin-bottom: 0;
                            padding-bottom: 0;
                            border-bottom: none;
                        }
                    }
                    .title {
                        margin-bottom: 10px;
                        color: $color-black-4;
                        font-size: 14px;
                        .price {
                            color: $color-black;
                            font-size: 16px;
                            font-family: $title-font;
                            font-weight: bold;
                        }
                    }
                    .tour_date {
                        margin-bottom: 40px;
                        font-size: 14px;
                    }
                    .buss_tickets {
                        h4 {
                            img {
                                margin-top: -4px;
                            }
                        }
                        .tickets_price {
                            margin-bottom: 16px;
                            padding-bottom: 16px;
                            border-bottom: 1px solid $color-white-4;
                            span {
                                font-size: 14px;
                                &.price {
                                    font-size: 16px;
                                    font-family: $title-font;
                                    font-weight: bold;
                                }
                            }
                        }
                        .type {
                            margin-bottom: 18px;
                            color: $color-black-4;
                            font-size: 14px;
                        }
                        .radio_inputs {
                            .mh_radio {
                                margin-bottom: 25px;
                                &:last-child {
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                    .departure {
                        .departure_drops {
                            .dropdown {
                                button {
                                    height: 52px;
                                    margin-bottom: 32px;
                                    padding: 0 16px;
                                    color: $color-black-4;
                                    background-color: transparent;
                                    font-size: 16px;
                                    border: 1px solid $color-white-4;
                                    border-radius: 12px;
                                    box-shadow: none;
                                    outline: none;
                                    img {
                                        -webkit-transform: rotate(90deg);
                                        -ms-transform: rotate(90deg);
                                        transform: rotate(90deg);
                                        @include transition( all , 0.1s, ease-in-out);
                                    }
                                    &::after {
                                        display: none;
                                    }
                                }
                                .dropdown-menu {
                                    min-width: auto;
                                    margin-top: 10px;
                                    padding: 10px 0;
                                    border-radius: 10px;
                                    border: 1px solid $color-black-1;
                                    .dropdown-item {
                                       padding: 5px 16px;
                                       font-size: 14px;
                                       background-color: transparent;
                                       @include transition( all , 0.1s, ease-in-out);
                                       &:active {
                                          color: inherit;
                                       }
                                       &:hover {
                                           background-color: $color-white-1;
                                       }
                                    }
                                }
                                &.show {
                                    button {
                                        img {
                                            -webkit-transform: rotate(270deg);
                                            -ms-transform: rotate(270deg);    
                                            transform: rotate(270deg);
                                        }
                                    }
                                }
                            }
                        }
                        .departure_title {
                            margin-bottom: 16px;
                        }
                        .input_wrap {
                            img {
                                position: absolute;
                                top: 50%;
                                -webkit-transform: translateY(-50%);
                                -ms-transform: translateY(-50%);
                                transform: translateY(-50%);
                                right: 16px;
                                width: 24px;
                                height: 24px;
                            }
                        }
                    }
                    .departure_car {
                        padding-bottom: 10px;
                        h4 {
                            img {
                                margin-top: -8px;
                            }
                        }
                        .radio_inputs {
                            .mh_radio {
                                margin-bottom: 25px;
                                font-size: 16px;
                                .custom_input {
                                    flex-shrink: 0;
                                }
                            }
                        }
                    }
                    .chose_room {
                        h4 {
                            img {
                                margin-top: -4px;
                            }
                        }
                        .room_items {
                            .room_item {
                                flex-shrink: 0;
                                width: 212px;
                                margin-right: 24px;
                                margin-bottom: 0;
                                padding: 16px;
                                border: 1px solid $color-white-4;
                                border-radius: 8px;
                                img {
                                    &.small_room , &.big_room {
                                        width: 56px;
                                        height: 56px;
                                        &.small_room {
                                            margin-left: -10px;
                                        }
                                    }
                                }
                                p {
                                    margin-top: 10px;
                                    margin-bottom: 0;
                                    padding-right: 45px;
                                    font-size: 16px;
                                }
                                &:last-child {
                                    margin-right: 0;
                                }
                            }
                        }
                    }
                    .starting_time {
                        .time_items {
                            .time_item {
                                margin-right: 16px;
                                label {
                                    height: 38px;
                                    padding: 0 16px;
                                    border: 1px solid $color-white-4;
                                    border-radius: 8px;
                                }
                                input {
                                    &:checked  {
                                        + label {
                                            color: $color-white;
                                            background-color: $color-black;
                                            border: 1px solid transparent;
                                        }
                                    }
                                }
                                &:last-child {
                                    margin-right: 0%;
                                }
                            }
                        }
                    }
                    .transfers {
                        .radio_inputs {
                            .mh_radio {
                                margin-bottom: 25px;
                                &:last-child{
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                    @media only screen and (max-width : 767px) {
                        padding: 19px 24px 0;
                        h4 {
                            margin-bottom: 24px;
                            font-size: 16px;
                            img {
                                width: 18px;
                                height: 18px;
                            }
                        }
                        .border_bottom {
                            margin-bottom: 32px;
                            padding-bottom: 0;
                            border-bottom: none;
                            &:last-child {
                                margin-bottom: 0;
                                padding-bottom: 0;
                                border-bottom: none;
                            }
                        }
                        .tour_date {
                            margin-bottom: 24px;
                        }
                        .buss_tickets {
                            .tickets_price {
                                margin-left: -8px;
                                margin-right: -8px;
                                padding-left: 8px;
                                padding-right: 8px;
                            }
                            .radio_inputs {
                                .mh_radio {
                                    margin-bottom: 16px;
                                    padding-bottom: 19px;
                                    border-bottom: 1px solid $color-white-4;
                                    &:last-child {
                                        margin-bottom: 0;
                                        padding-bottom: 0;
                                        border-bottom: none;
                                    }
                                }
                            }
                        }
                        .departure {
                            .departure_drops {
                                .dropdown {
                                    button {
                                        margin-bottom: 16px;
                                    }
                                }
                            }
                        }
                        .departure_car {
                            margin: 0 -8px 24px;
                            padding: 0 8px 24px;
                            border-bottom: 1px solid $color-white-4;
                            .radio_inputs {
                                .mh_radio {
                                    margin-bottom: 16px;
                                    padding-bottom: 19px;
                                    border-bottom: 1px solid $color-white-4;
                                    &:last-child {
                                        margin-bottom: 0;
                                        padding-bottom: 0;
                                        border-bottom: none;
                                    }
                                    &.top_item {
                                        margin-bottom: 16px;
                                        padding-bottom: 19px;
                                        border-bottom: 1px solid $color-white-4;
                                    }
                                }
                            }
                        }
                        .chose_room {
                            .room_items {
                                padding-bottom: 10px;
                                overflow-x: scroll;
                                .room_item {
                                    width: 120px;
                                    padding: 10px;
                                    img {
                                        &.small_room , &.big_room{
                                            width: 38px;
                                            height: 38px;
                                        }
                                    }
                                    p {
                                        padding: 0;
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                        .starting_time {
                            margin: 0 -8px 24px;
                            padding: 0 8px 24px;
                            border-bottom: 1px solid $color-white-4;
                            .time_items {
                                margin: 0 -8px;
                                .time_item {
                                    margin: 0 8px 10px;
                                }
                            }
                        }
                        .transfers {
                            .radio_inputs {
                                .mh_radio {
                                    margin-bottom: 16px;
                                    padding-bottom: 19px;
                                    border-bottom: 1px solid $color-white-4;
                                    &:last-child {
                                        margin-bottom: 0;
                                        padding-bottom: 0;
                                        border-bottom: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .bottom_buttons {
                margin: 44px 0 24px;
                padding: 25px 24px 0;
                border-top: 1px solid $color-white-4;
                button {
                    height: 44px;
                    font-size: 14px;
                    line-height: 44px;
                    box-shadow: none;
                    outline: none;
                    &.back {
                        width: 44px;
                        height: 44px;
                        background-color: $color-white-1;
                        border-radius: 8px;
                        img {
                            width: 24px;
                            height: 24px;
                            -webkit-transform: rotate(180deg);
                            -ms-transform: rotate(180deg);
                            transform: rotate(180deg);
                        }
                    }
                    &.clear {
                        font-size: 16px;
                        font-family: $title-font;
                        font-weight: bold;
                        text-decoration: underline;
                    }
                    &.next {
                        padding: 0 40px;
                        color: $color-white;
                        background-color: $color-black;
                        border-radius: 8px;
                    }
                }
            }
        }
        @media only screen and (max-width : 767px) {
            align-items: flex-end;
            .modal-content {
                min-height: calc(100% - 0rem);
            }
        }
    }   
}

#calendar , #guest{
    .modal-dialog  {
        min-height: calc(100% - 0rem);
        .modal-content {
            .modal-body {
                .title {
                    margin: 16px 24px 15px;
                    font-size: 14px;
                }
                .flatpickr-calendar {
                    box-shadow: none;
                    .flatpickr-month {
                        margin-bottom: 24px;
                        .flatpickr-current-month {
                            padding-top: 10px;
                        }
                        .flatpickr-monthDropdown-months {
                            background-color: transparent;
                            font-size: 14px;
                            font-family: $title-font;
                            font-weight: bold;
                        }
                    }
                    .flatpickr-day {
                        font-size: 12px;
                        &.selected {
                            background-color: $color-green;
                        }
                    }
                    .numInputWrapper {
                        display: none;
                    }
                }
                .dropdown_body {
                    &.guest {
                        .title {
                            margin-bottom: 24px;
                            span {
                                padding-right: 25px;
                                color: $color-black-4;
                                font-size: 14px;
                            }
                            .price {
                                flex-shrink: 0;
                                font-size: 16px;
                                font-family: $title-font;
                                line-height: 16px;
                                font-weight: bold;
                            }
                        }
                        .guest_count {
                            margin-bottom: 16px;
                            padding: 0 24px 16px;
                            .count_title {
                                font-size: 14px;
                                line-height: 14px;
                                font-family: $title-font;
                                font-weight: bold;
                            }
                            .count_text {
                                color: $color-black-4;
                                font-size: 12px;
                            }
                            .counter {
                                font-size: 16px;
                                font-weight: bold;
                                .btn {
                                    width: 32px;
                                    height: 32px;
                                    border: 1px solid $color-black-4;
                                    border-radius: 50%;
                                    img {
                                        width: 10px;
                                        height: 10px;
                                    }
                                }
                                .count_number {
                                    margin: 0 20px;
                                }
                                &.free {
                                    padding-right: 40px;
                                    color: $color-green-1;
                                    font-size: 12px;
                                    font-family: $title-font;
                                    font-weight: bold;
                                }
                            }
                            &:last-child {
                                margin-bottom: 0;
                                padding-bottom: 0;
                                border-bottom: none;
                            }
                        }
                    }
                }
                .bottom_buttons {
                    margin: 24px 0 16px;
                    padding: 0 24px;
                    button {
                        height: 44px;
                        font-size: 14px;
                        line-height: 44px;
                        box-shadow: none;
                        outline: none;
                        &.back {
                            width: 44px;
                            height: 44px;
                            background-color: $color-white-1;
                            border-radius: 8px;
                            img {
                                width: 24px;
                                height: 24px;
                                -webkit-transform: rotate(180deg);
                                -ms-transform: rotate(180deg);
                                transform: rotate(180deg);
                            }
                        }
                        &.clear {
                            text-decoration: underline;
                        }
                        &.next {
                            padding: 0 40px;
                            color: $color-white;
                            background-color: $color-black;
                            border-radius: 8px;
                        }
                    }
                }
            }
        }
    }
}